body {
    background-color: #ffffff;
}
.logo {

  position: absolute;
  padding-top: 10px;
  padding-left: 100px;
}
#masthead {

  position: static;
   background-color: #464646;
   height: 75px;
   width: 100%;

}
.navigation {
  position: absolute;
  font-family: Verdana;
  font-size: 1em;
  position: relative; top: 50px; left: 1000px;
}
a {
  color: #ffffff;
}
a:hover {
  color: #8A8A8A;
}
  #footer {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: block;
  clear: top;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 1px;
}
.post {
  font-family: Verdana;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
h1 {
font-family: Impact, Charcoal, sans-serif;
color: #333333;
}
p {
  font-size: 18px;
}