

body {
    background-color: #ffffff;
}

.mastheader {

  position: static;
   background-color: #464646;
   height: 75px;
   width: 100%;
   clear: left;

}
.navigation {
  display: inline-block;
  font-family: Verdana;
  font-size: 1em;
  position: relative; top: 50px; left: 600px;
}
.post {
  font-family: Verdana;
  font-size: 12px;
}
.logo {

  position: relative; top: 0; left: 100;
}
.social_icon {
  position: relative; top: -30px; left: 850px;

}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
  color: #cc0000;
  font-weight: bold;
  text-decoration: none;
}
.space {
  opacity: 0;
}
#footer {

  height: 50px;
  background-color: #69D2E7;
  clear:both;

}
